<!DOCTYPE html>
<html lang="en" ng-app="3DMatrixApp" ng-controller="3DMatrixAppCtrl as vm">
	<head>
		<title>Grability Test</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<form action="">
			<h3 style="color:red">{{vm.validation}}</h3>
			<p style="color:green">{{vm.values}}</p>
			<div>
	        	<p>Input</p>
	        	<textarea rows="10" ng-model="vm.sampleInput" ng-keypress="($event.keyCode==13)?vm.getOutput():return">{{vm.sampleInput}}</textarea>
	        </div>
	        <div>
	            <p>Output</p>
	            <textarea rows="10" ng-model="vm.sampleOutput">{{vm.sampleOutput}}</textarea>
	        </div>
		</form>
	    <script type="text/javascript" src="app/js/angular.js"></script>
	    <script type="text/javascript" src="app/js/controllers.js"></script>
	</body>
</html>